.logo {
	height: 80px;
	padding: 20px 50px;
}

.wrapper {
	display: grid;
	grid-template-columns: 180px 1fr 100px;
	align-items: center;
}

.navItem {
	list-style: none;
	padding: 10px;

	&Link {
		text-decoration: none;
		color: #000;

		&Active {
			font-weight: bold;
		}
	}
}
